body{
	background: #35A9DB;
	font-family: roboto;
	text-align: center;
}

h1{
	color: #fff;
}

.ketengah{
	margin: 10px auto;
	width: 1150px;
}

.kotak{
	background: blue;
	width: 500px;
	float: left;
	height: 250px;
	margin: 30px;
}

.gradient1 {
	background: linier-gradient(red, green); /* Standart Syntax */
	background: -webkit-linier-gradient(red, green); /* For safari 5.1 to 6.0 */
	background: -o-linier-gradient(red, green); /* For Opera 11.1 to 12.0 */
	background: -moz-linier-gradient(red, green); /* For Firefox 3.6 to 15 */
}

.gradient2 {
	background: linier-gradient(to right, red, yellow, green); /* Standart Syntax */
	background: -webkit-linier-gradient(left, red, yellow, green); /*For safari 5.1 to  6.0 */
	background: -o-linier-gradient(right, red, yellow, green); /* For Opera 11.1 to 12.0 */
	background: -moz-linier-gradient(right, red, yellow, green); /* For Firefox 3.6 to 15 */
}

.gradient3 {
	background: radial-gradient(red, yellow, green); /* Standrt Syntax */
	background: -webkit-radial-gradient(red, yellow, green); /*For Safari 5.1 to 6.0 */
	background: -o-radial-gradient(red, yellow, green); /*for Opera 11.1 to 12.0 */
	backgrond: -moz-radial-gradient(red, yellow, green); /*for Firefox 3.6 to 15 */
}

.gradient4 {
	background: radial-gradient(circle, red, yellow, green); /* Standart Syntax */
	background: -webkit-radial-gradient(circle, red, yellow, green); /*For Safari 5.1 to 6.0 */
	background: -o-radial-gradient(circle, red, yellow, green); /*For Opera 11.1 to 12.0 */
	background: -moz-radial-gradient(circle, red, yellow, green); /*For Firefox 3.6 to 15 */
}