body{
    position: relative;
    width: 1152px;
    height: 700px;

     background: blanchedalmond;
     mix-blend-mode: normal;
     border-radius: 10px;
}

img{

    width: 772px;
    height: 700px;
    border-radius: 10px;
    right: 1000px;
}

.konfirmasi{
    position: absolute;
    width: 443px;
    height: 326px;
    left: 821px;;
    top: 24px;
}

.kata{
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 84px;
    text-align: center;
    color: #000;
}

.back{
    text-align: center;
    background: #3F882D;
    border-radius: 20px;
    box-shadow: 0px 4px 15px;
}

.back a{
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 63px;
    text-align: center;
    color: #f7faf6;
    text-decoration: none;
}

.back :hover{
    background-color: skyblue;
    color: black;
    border-radius: 10px;
}

.submit{
    text-align: center;
    background: #3F882D;
    border-radius: 20px;
    box-shadow: 0px 4px 15px;
}

.submit a{
    font-family: Robot Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 63px;
    text-align: ccenter;
    color: #f7faf6;
    text-decoration: none;
}

.submit :hover{
    background: skyblue;
    color: black;
    border-radius: 10px;
}